The Python programming language has a wide range of syntactical constructions, standard library functions, and interactive development environment features. ***Fortunately,
you can ignore most of that; you just need to learn enough to write some handy little programs***

You will, however, have to learn some basic programming concepts
before you can do anything. Like a wizard-in-training, you might think these concepts seem arcane and tedious, but with some knowledge and practice, you’ll be able to command your computer like a magic wand to perform incredible feats

## Topic 1: installing python and environment to run



d

## Topic 2: Expressions

In [3]:
2+2

4

In [4]:
897-12

885

In [5]:
98/54

1.8148148148148149

In [6]:
98//54

1

In [7]:
2**10

1024

In [8]:
26*13

338

In [9]:
26/13

2.0

>### operators
>>#### 1 . exponents (**)
>>#### 2. modulus (^)
>>#### 3. Integer division / floor quotient (//)
>>#### 4. division (/)
>>#### 5. multiplication (*)
>>#### 6. substraction (-)
>>#### 7. addition (+)

<##insert data if you want to else  delete>

## Topic 3: Data Types

>### 1. int
>### 2. float
>### 3. string
>### 4. boolean

In [16]:
type(125/5)

float

In [13]:
type(125)

int

In [14]:
print(125/5)

25.0

In [17]:
type('5')

str

In [18]:
type('55445678')

str

In [19]:
type("454")

str

In [20]:
type('''1234654745''')

str

## Topic 4: Varibales
A variable is like a box in the computer’s memory where you can store a single value. If you want to use the result of an evaluated expression later in your program, you can save it inside a variable



some variable rules:
1.   It can be only one word.                   
2.   It can use only letters, numbers, and the underscore (_) character. 
3.   It can’t begin with a number.

there are no special keywords to declare a varible

In [24]:
var1 = 125

In [28]:
#var1 var = 145     ##causes error  ##uncomment to perform

In [25]:
_var2 = 6865

In [27]:
#4var = 565        #causes error #uncomment to perform

In [29]:
print(var1)

125

## Topic 6: functions introduction

###### keyword for defining function : def
###### return statement : returns a value from the function

In [91]:
def function1():
    name = input("enter your name")
    print("this is your name: "+name)
    print("this is the datatype of 'name' variable: ", type(name))
    
    age = input("enter your age: ")
    print("this is your age: "+ age)
    print("this is the datatype of 'age' varible: ", type(age))

In [92]:
function1()

enter your nameaman
this is your name: aman
this is the datatype of 'name' variable:  <class 'str'>
enter your age: 21
this is your age: 21
this is the datatype of 'age' varible:  <class 'str'>

important part of this program is that the return value of the input function to assign value to "age" variablehas no way of knowing that the varible is going to be used as a number

How the input is then converted to required form is discussed below:

In [124]:
def increment(var):
    var+=1
    return var

In [125]:
var_n=4
var_n=increment(var_n)
print(var_n)

5


###### arguments of function should be defined before calling the function 
###### if the function is using global variables, it should be defined before the function is defined, this would not raise any error but the variable will be 'None'

In [109]:
def function2(var1):
    var1=undefined_var/10
    return var1

In [110]:
undefined_var=25
var1 = function2(54)

In [111]:
print(var1)

2.5

## Topic 7: Inbuilt functions

>### 1. print()
The print() function displays the string value inside the parentheses on the screen.
>### 2. input()
The input() function waits for the user to type some text on the keyboard and press enter
>### 3. len()
You can pass the len() function a string value (or a variable containing a string), and the function evaluates to the integer value of the number of characters in that string
>### 4. str(), int()
The str(), int(), and float() functions will evaluate to the string, integer, and floating-point forms of the value you pass

>### etc. many others in other topics

In [30]:
name = "person1"
print(name)

person1

In [44]:
name = input("enter your name: ")
print(name)

enter your name: person1
person1

In [45]:
len("seven")

5

In [46]:
var1 = str(548)

In [47]:
print(var1)

548

In [48]:
var1 = int("474156")

In [49]:
print(var1)

474156

#### important point : if any non-numeric string is passed to a int()/float() it raises an error

In [50]:
int("AS")

ValueError: invalid literal for int() with base 10: 'AS'

In [60]:
int("a" , 16)  #the second parameter is by default 10, and it defines base

10

therefore, to solve the previous problem, of defining 
"age"

In [62]:
age = str(input("enter your age"))
print(type(age))

enter your age21
<class 'str'>

In [65]:
type(function1) #function1 is defined already

function

In [66]:
type(type)

type

## Topic 8: Conditionals
>### 1. If-else-elif statements
>

>>#### 1. Falsy values:
1. None
2. 0
3. 0j complex int
4. "" 
5. False
6. [] : empty list
7. {} : empty dictionary
8. function returning any falsy values
9. a comparison that returns any Falsy value (no return is equivalent to 'retrun None' )
10. not {Truthy values} 


>>#### 2. Truthy values:
everything that is not included in Falsy values

>### comparison
>> #### var1 == var2
>> #### var1 != var2
>> #### var1 \>= var2
>> #### var1 \<= var2
>> #### var1 \> var2
>> #### var1 \< var2


#### important: not operator is used to negate any statement
example not(4<9) is False

In [81]:
condition1 = not 4<9
print(condition1)

False

In [74]:
if function1():
    #function1 has no return statement
    print("this statement is true")
else:
    print("this statement is false")

enter your name: cvbnm,./
your name is: cvbnm,./
the varible name is of type: <class 'str'>
enter your age: cvbnm,
your age is: cvbnm,
the variable age is of type: <class 'str'>
this statement is false

In [77]:
num = 53
if num<5:
    print("less than 5")
elif num==52:
    print("number is 52")
elif not True:
    print(" number is 589")
else:
    print("all the statements above are false")

all the statements above are false

## Topic 9: Loops

>### 1. for loops
>### 2. while loops

these will be explained using an example:

In [83]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

syntax of a for loop:



> for var_name in object:
>>   #operation


where 'for' and 'in' are keywords
and 'object' is any iterable object i.e. a list (also called array in c/c++), and similar objects

In [87]:
condition1 = True
while(condition1):
    temp = int(input("enter a number "))
    if temp==1:
        condition1=False

enter a number 10
enter a number 5
enter a number 4
enter a number 1

syntax for while loop

#### if condition is not a keyword then you have to define the varible beforehand

> while condition:
>> #operation

#### while loop will continue until the condition is true

## Topic 10: continue and break statements

#### 'break' statement:
    1. break statement is used to exit from the loop/block of code and carry on with the execution of rest of our program:
    2. usually it is ideally carried out as a result of if-else statement but it could be used without them as well

#### 'continue' statement:
    1. When a continue statement is encountered inside a loop, control jumps to the beginning of the loop for next iteration skipping the execution of statements inside the body of loop for the current iteration.

In [90]:
for i in range(15):
    if i==10:
        break
    if i==5:
        print("continue statement, will be printing this inplace of 5")
        continue
        
    print(i)

0
1
2
3
4
continue statement, will be printing this inplace of 5
6
7
8
9

## Topic 11: Lists

#### list is an array of data objects with no constraint on data type i.e., a list could contain data of different data types

In [136]:
list_var = [1,2,5,2,"jadshf",5,True, 5j]

each element can be accessed using [] operator

In [128]:
print(list_var[4])

jadshf

the brackets encapsulates the index at which that particular element is located, 
> the index starts from 0 and then increases upto "size(list_var)-1"

In [130]:
list_var2 = [67, 54 , 4, list_var]
print(list_var2)
#this is an example of how a list can be nested inside another list

[67, 54, 4, [1, 2, 5, 2, 'jadshf', 5, True, 5j]]

#### list comes with various list functions
>#### 1. list.append(x)
Add an item to the end of the list. Equivalent to a[len(a):] = [x]
>#### 2. list.extend(iterable)
Extend the list by appending all the items from the iterable. Equivalent to a[len(a):] = iterable
>#### 3. list.insert(i, x)
Insert an item at a given position. The first argument is the index of the element before which to insert, so a.insert(0, x) inserts at the front of the list, and a.insert(len(a), x) is equivalent to a.append(x).
>#### 4. list.remove(x)
Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item
>#### 5. list.pop([i])
Remove the item at the given position in the list, and return it. If no index is specified, a.pop() removes and returns the last item in the list.
>#### 6. list.clear()
Remove all items from the list. Equivalent to del a[:]
>#### 7. list.index(x , [ start , end ])
Return zero-based index in the list of the first item whose value is equal to x. Raises a ValueError if there is no such item
>#### 8. list.count(x)
Return the number of times x appears in the list.
>#### 9. list.sort(\*, key=None, reverse=False)
Sort the items of the list in place
>#### 10. list.copy()
Return a shallow copy of the list. Equivalent to a[:].
>#### 11. reverse()
Reverse the elements of the list in place.

In [131]:
list_var

[1, 2, 5, 2, 'jadshf', 5, True, 5j]

In [137]:
list_var.append([1,7,2,8,3,5])
list_var

[1, 2, 5, 2, 'jadshf', 5, True, 5j, [1, 7, 2, 8, 3, 5]]

In [138]:
list_var.extend(['a','b','c','d'])
print(list_var)

[1, 2, 5, 2, 'jadshf', 5, True, 5j, [1, 7, 2, 8, 3, 5], 'a', 'b', 'c', 'd']

In [140]:
list_var.insert(2,"insert")
print(list_var)

[1, 2, 'index', 5, 2, 'jadshf', 5, True, 5j, [1, 7, 2, 8, 3, 5], 'a', 'b', 'c', 'd']

In [142]:
list_var.count(5j)

1

## Topic 12: range() and split() functions

### range(start : end : steps)
returns an iterable from containing elements in the range of 'start 'to 'end', 'steps' refer to difference between two elements

In [151]:
for i in range(10,50,3):
    print(i)
print(type(range(10,50,3)))

10
13
16
19
22
25
28
31
34
37
40
43
46
49
<class 'range'>

### str.split(c) 
this splits string on the basis of string c, and returns all the elements in  a list

In [170]:
var1 = "a, b, c, d, ,  e, f, g, h, i, l, this is a sentence and we are going to experiment on it"
var1.split(',')

['a',
 ' b',
 ' c',
 ' d',
 ' ',
 '  e',
 ' f',
 ' g',
 ' h',
 ' i',
 ' l',
 ' this is a sentence and we are going to experiment on it']

In [171]:
print(var1.split(" "))

['a,', 'b,', 'c,', 'd,', ',', '', 'e,', 'f,', 'g,', 'h,', 'i,', 'l,', 'this', 'is', 'a', 'sentence', 'and', 'we', 'are', 'going', 'to', 'experiment', 'on', 'it']

In [172]:
print(var1.split())

['a,', 'b,', 'c,', 'd,', ',', 'e,', 'f,', 'g,', 'h,', 'i,', 'l,', 'this', 'is', 'a', 'sentence', 'and', 'we', 'are', 'going', 'to', 'experiment', 'on', 'it']

In [180]:
var2 = "5 2 5      5   4  3  5 3  2 6  2 "
print(var2.split())
print(var2.split(" "))

['5', '2', '5', '5', '4', '3', '5', '3', '2', '6', '2']
['5', '2', '5', '', '', '', '', '', '5', '', '', '4', '', '3', '', '5', '3', '', '2', '6', '', '2', '']

## Topic 13: List Comprehensions

to add elements in a list as input, if we use what we have learnt up until now we would come up with a solution like:

In [183]:
n = int(input("enter the number of elements: "))
list1 = [] #empty list, to work with list functions, the data type should be 'list'
for i in range(n):
    var1 = int(input('enter the element: '))
    list1.append(var1)

enter the number of elements: 5
enter the element: 1
enter the element: 2
enter the element: 3
enter the element: 4
enter the element: 5

In [184]:
print(list1)

[1, 2, 3, 4, 5]

but this can be done a lot easier using list comprehensions:

In [186]:
var_list = [int(var) for var in input("enter the numbers").split()]
print(var_list)

enter the numbers1 4 2 0 5 3 5 3 7 8 9
[1, 4, 2, 0, 5, 3, 5, 3, 7, 8, 9]